#controls
    .grid-container
        .grid-25
            label(for='levels') Log Levels
            select#levels
                option(value=4) Debug
                option(value=3) Verbose
                option(value=2) Info
                option(value=1) Warning
                option(value=0) Error

        .grid-25
            label(for='n-lines') Number of lines
            input(type='number', name='n-lines', id='n-lines', min=1)

        .grid-25
            button.button.button-primary.button-rounded.button-small#live-play
                i.fa.fa-play-circle(aria-hidden="true")
                span Play

        .grid-25
            button.button.button-royal.button-rounded.button-small#live-pause
                i.fa.fa-play-circle(aria-hidden="true")
                span Pause

