doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/lib/skeleton.css')
    link(rel='stylesheet', href='/stylesheets/lib/normalize.css')

  body
    block content
