extends layout

block content
    p.hidden#page-current= currentPage
    p.hidden#pages-total= nPages
    p.hidden#log-file= title
    .grid-container
        include sidebar
        include logdisplay
        include pagination

block append scripts
    script(src='/javascripts/logclient.js', type='text/javascript')

