#sidebar{
  ul{
    margin: 0;
    padding: 10px;
    font-size: 12px;
    list-style-type: none;
    background: rgb(38, 42, 50);
    height: calc(100vh - 200px);
    border-radius: 6px;
    color: rgb(243, 86, 86);

    h3{
      color: #ffffff;
      margin: 3px;
      padding: 0;
    }

    li{
      margin: 10px 0 10px 0;

      a{
        margin-left: 20px;
      }
    }

  }
  h2{
    height: 60px;
    margin: auto;
    padding: 0;
  }

}